{% load static %}
{% load products_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static "css/alt_style.css" %}">
    <script src='{% static "scripts/script.js" %}' async></script>
    <link rel="stylesheet" href="{% static "css/bullframe.css" %}">
    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
    <div class="container">
      <div class="Footer"></div>
      <div class="Content">
        <div class="inner-content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div class="Additional">
        <div class="Additional-inner">
          {% block additional %}
          {% endblock %}
        </div>
      </div>
      <div class="Menu">
        <div class="menu-inner">
          {% block side_menu %}
          {% endblock %}
        </div>
      </div>
      <div class="Header">
          <nav id='menu'>
          <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'panel' %}">Home</a></li>
            {% endif %}
              {% if perms.products.view_customermodel %}
            <li><a href="#" class='dropdown-arrow'>Admin</a>
              <ul class='sub-menus'>
                <li><a href="/customer_list/">Show Customers</a></li>
                {% if perms.products.add_customermodel %}
                <li><a href="/add_customer/">Add Customer</a></li>
                {% endif %}
                <li><a href="/department_list/">Show Departments</a></li>
                {% if perms.admin_app.add_departmentmodel %}
                <li><a href="/add_department/">Add Department</a></li>
                {% endif %}
                <li><a href="/employee_list/">List Employees</a></li>
                {% if perms.admin_app.add_employeemodel %}
                <li><a href="/add_employee/">Add Employee</a></li>
                {% endif %}
              </ul>
            </li>
              {% endif %}
            {% if perms.products.view_ordermodel %}
            <li><a href="#" class='dropdown-arrow'>Orders</a>
              <ul class='sub-menus'>
                <li><a href="/order_list/">List Orders</a></li>
                {% if perms.products.add_ordermodel %}
                <li><a href="/add_order/">Create Order</a></li>
                {% endif %}
                <li><a href="/door_list/">List Doors</a></li>
                {% if perms.products.add_productmodel %}
                <li><a href="/add_door/">Add Door</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            {% if perms.products.view_ordermodel %}
            <li><a href="#" class='dropdown-arrow'>Parts</a>
              <ul class='sub-menus'>
                <li><a href="/component_list/">List Components</a></li>
                {% if perms.products.add_componentmodel %}
                <li><a href="/add_component/">Add Component</a></li>
                {% endif %}
                <li><a href="/glass_list/">Show Glass</a></li>
                {% if perms.products.add_glassmodel %}
                <li><a href="/add_glass/">Add Glass</a></li>
                {% endif %}
                <li><a href="/style_list/">Show Styles</a></li>
                {% if perms.products.add_doorstylemodel %}
                <li><a href="/add_style/">Add Style</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            {% if perms.admin_app.view_machinemodel %}
            <li><a href="#" class='dropdown-arrow'>CNC Menu</a>
              <ul class='sub-menus'>
                <li><a href="/machine_list/">Show Machines</a></li>
                {% if perms.admin_app.add_machinemodel %}
                <li><a href="/add_machine/">Add Machine</a></li>
                {% endif %}
                <li><a href="/tool_list/">Show Tools</a></li>
                {% if perms.tools.add_toolmodel %}
                <li><a href="/add_tool/">CreateTools</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            {% if perms.admin_app.view_productsmodel %}
            <li><a href="#" class='dropdown-arrow'>Reports</a>
              <ul class='sub-menus'>
                <li><a href="/today_production/">Production Output</a></li>
              </ul>
            </li>
            {% endif %}
            {% if user|has_group:"Shop floor staff" %}
                <li><a class="dropdown-arrow" href="/scan_product/">Scan</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a class="dropdown-arrow" href="/logout/">Logout</a></li>
            {% endif %}
            {% if not user.is_authenticated %}
                <li><a class="dropdown-arrow" href="/">Login</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li style="float: right; margin-right:25px;" id="user">signed as: {{ user }}</li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
</body>
</html>