{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/alt_style.css" %}">
    <link rel='stylesheet' href="{% static "css/menu_style.css" %}">
    <script src='scripts/script.js'></script><body>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container">
      <div class="Footer"></div>
      <div class="Content">
        <div class="inner-content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div class="Additional"></div>
      <div class="Menu">
          {% block side_menu %}
          {% endblock %}
      </div>
      <div class="Header">
          <nav id='menu'>
          <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
          <ul>
            <li><a href="{% url 'panel' %}">Home</a></li>
            <li><a class='dropdown-arrow'>Admin</a>
              <ul class='sub-menus'>
                <li><a href="/customer_list/">Show Customers</a></li>
                <li><a href="/add_customer/">Add Customer</a></li>
                <li><a href="/department_list/">Show Departments</a></li>
                <li><a href="/add_department/">Add Department</a></li>
                <li><a href="/employee_list/">List Employees</a></li>
                <li><a href="/add_employee/">Add Employee</a></li>
              </ul>
            </li>
            <li><a class='dropdown-arrow'>Orders</a>
              <ul class='sub-menus'>
                <li><a href="/order_list/">List Orders</a></li>
                <li><a href="/add_order/">Create Order</a></li>
                <li><a href="/door_list/">List Doors</a></li>
                <li><a href="/add_door/">Add Door</a></li>
              </ul>
            </li>
            <li><a class='dropdown-arrow'>Parts</a>
              <ul class='sub-menus'>
                <li><a href="/component_list/">List Components</a></li>
                <li><a href="/add_component'/">Add Component</a></li>
                <li><a href="/glass_list/">Show Glass</a></li>
                <li><a href="/add_glass/">Add Glass</a></li>
                <li><a href="/style_list/">Show Styles</a></li>
                <li><a href="/add_style/">Add Style</a></li>
              </ul>
            </li>
            <li><a class='dropdown-arrow'>CNC Menu</a>
              <ul class='sub-menus'>
                <li><a href="/machine_list/">Show Machines</a></li>
                <li><a href="/add_machine/">Add Machine</a></li>
                <li><a href="/tool_list/">Show Tools</a></li>
                <li><a href="/add_tool/">CreateTools</a></li>
              </ul>
            </li>
{#            <li><a class='dropdown-arrow' href="{{request.META.HTTP_REFERER|escape}}">BACK</a>#}
{#            </li>#}
          </ul>
        </nav>
      </div>
    </div>
</body>
</html>