{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel='stylesheet' href="{% static "css/main_view_card.css" %}">
    <script src="{% static 'scripts/sorttable.js' %}"></script>
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}

{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
        <div class="content_div">
        <h3>Department: {{ department_detail.section_name }}</h3>
        <div>Staff in department:
        <table class="table_list sortable">
            <thead>
            <tr>
                <th>
                    Employee
                </th>
                <th>
                    ID
                </th>
            </tr>
            </thead>
            <tbody>
            {% for employee in department_detail.employees.all %}
                <tr>
                    <td>
                        <a href="/employee_details/{{ employee.pk }}/">{{ employee }}
                    </td>
                    <td>
                        {{ employee.id_num }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    <a href="/edit_department/{{ department_detail.id }}/" type="button">Edit</a>
    <a href="/delete_department/{{ department_detail.id }}/" type="button">Delete</a>
    <a href="{% url 'department_list' %}" type="button">Back</a>
    </div>
    </div>
</div>
{% endblock %}