{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <title>Production Scanner</title>
    <meta name="description" content="Production scanner form.">
{% endblock %}
{% block side_menu %}

{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ scan_in_form.as_p }}
        <div class="btn-container">
        <input type="submit" value="Start" name="start" class="btn">
        <input type="submit" value="Finish" name="finish" class="btn">
        </div>
    </form><br><br>
    <p><strong>{{ error }}</strong></p>
    </div>
</div>
{#<br><br>#}
{#<div id="login-card-main">#}
{#    <div id="login-login-card-content-main">#}
{#            <table class="table_list sortable">#}
{#                <thead>#}
{#                    <tr>#}
{#                        <th>Job No.</th>#}
{#                        <th>Start</th>#}
{#                        <th>Finish</th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                    {% for element in my_output %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            <a href="/door_details/{{ element.product_id_id }}">{{ element.product_id.full_job_no }}</a>#}
{#                        </td>#}
{#                        <td>#}
{#                           {{ element.prod_start }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ element.prod_end }}#}
{#                        </td>#}
{#                    </tr>#}
{#                    {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{##}
{#    </div>#}
{#</div>#}
{% endblock %}