{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel='stylesheet' href="{% static "css/additional_list_card.css" %}">
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
 <div id="card">
    <div id="card-content">
        <form method="post" class="form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search">
            <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
    <div class="content_div">
    <h2>Order: {{ order_details.order_number }}</h2>
        <h3>Customer:</h3>
        <ul>
            <ol>{{ order_details.customer_id.customer_name }}</ol>
            <ol>{{ order_details.customer_id.customer_email }}</ol>
            <ol>{{ order_details.customer_id.customer_phone }}</ol>
        </ul>
    </h3>
    <h4>Jobs in order:<br><br></h4>
        <ul>
            {% for job in order_details.product.all %}
                <ol>
                    Line: <a href="/door_details/{{ job.id }}/">{{ job.full_job_no }}</a> <br>
                    Production date: {{ job.production_date }}<br>
                    Delivery date: {{ job.delivery_date }}<hr>
                </ol>
            {% endfor %}
        </ul>

    <a href="/edit_order/{{ order_details.id }}/" type="button">Edit</a>
    <a href="/delete_order/{{ order_details.id }}/" type="button">Delete</a>
    <a href="{% url 'order_list' %}" type="button">Back</a>
</div>
{% endblock %}

{% block additional %}
<div id="card-additional">
    <div id="card-content-additional">
        <div><strong>Order List</strong></div>
        {% for order in order_list %}
            <div><a href="/order_details/{{ order.id }}/">{{ order }}</a></div>
        {% endfor %}
    </div>
</div>
{% endblock %}