{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <title>Order Details</title>
    <meta name="description" content="Detailed information regarding selected order.">
    <script src="{% static 'scripts/sorttable.js' %}" async></script>
{% endblock %}
{% block side_menu %}
 <div id="search-card">
    <div id="search-card-content">
        <form method="post" class="search-form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search orders">
            <input type="submit" value="Search" id="search-submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <div class="content_div">
    <h3>Order: {{ order_details.order_number }}</h3>
        <h4>Customer:</h4>
        <ul>
            <li>{{ order_details.customer_id.customer_name }}</li>
            <li>{{ order_details.customer_id.customer_email }}</li>
            <li>{{ order_details.customer_id.customer_phone }}</li>
        </ul>
    </h3>
    <h4>Jobs in order:<br><br></h4>
    <table class="table_list sortable">
        <thead>
        <tr>
            <th>Line</th>
            <th>Prod. Date</th>
            <th>Delivery Date</th>
        </tr>
        </thead>
        <tbody>
        {% for job in order_details.product.all %}
        <tr>
            <td><a href="/door_details/{{ job.id }}/">{{ job.full_job_no }}</a></td>
            <td>{{ job.production_date }}</td>
            <td>{{ job.delivery_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons-container">
        <a href="/edit_order/{{ order_details.id }}/" type="button">Edit</a>
        <a href="/delete_order/{{ order_details.id }}/" type="button">Delete</a>
        <a href="{% url 'order_list' %}" type="button">Back</a>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block additional %}
<div id="card-additional">
    <div id="card-content-additional">
        <div><strong>Order List</strong></div>
        {% for order in order_list %}
            <div><a href="/order_details/{{ order.id }}/">{{ order }}</a></div>
        {% endfor %}
    </div>
</div>
{% endblock %}