{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
    <div id="card">
        <div id="card-content">
            <form method="post" class="form">
                {% csrf_token %}
                <input id='searchbar' type="text" name="search" placeholder="search">
                <input type="submit" value="Search" id="submit-btn">
            </form>
        </div>
    </div>
{% endblock %}
{% block content %}
     <table class="table_list">
        <thead>
        <tr>
            <td>Order No.</td>
            <td>Customer</td>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>
                 <a href="/order_details/{{ order.id }}/">{{ order.order_number }}</a>
            </td>
            <td>{{ order.customer_id }}</td>
        </tr>
        {% endfor %}
        </tbody>
     </table>

{% endblock %}