{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search"><br><br>
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
    <ul>
    {% for order in orders %}
        <li>
            <a href="/order_details/{{ order.id }}/">{{ order.order_number }}</a> - Customer: {{ order.customer_id }}
        </li>
    {% endfor %}
    </ul>

{% endblock %}