{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search tools"><br><br>
        <input type="submit" value="Search">
    </form>
    <br>
{#    Sort by:#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <select name="type">#}
{#            <option name="type" value="tool_name">Name</option>#}
{#            <option name="type" value="type">Type</option>#}
{#            <option name="type" value="stock">Stock</option>#}
{#        </select>#}
{#        <input type="submit" value="Sort">#}
{#    </form>#}
{% endblock %}
{% block content %}
     <table class="table_list">
        <thead>
        <tr>
            <td>Tool</td>
            <td>Stock</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        {% for tool in tool_list %}
        <tr>
            <td><a href="/tool_details/{{ tool.id }}/">{{ tool.tool_name }}</a></td>
            <td>{{ tool.stock }}</td>
            <td>{{ tool.short_description }}</td>
        </tr>
        {% endfor %}
        </tbody>
     </table>
{% endblock %}