{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel='stylesheet' href="{% static "css/additional_list_card.css" %}">
    <link rel="stylesheet" href='{% static "css/main_view_card.css" %}'>
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
<div id="card">
    <div id="card-content">
        <form method="post" class="form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search tools">
            <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
</div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <div class="content_div">
    <h3>{{ tool_details.tool_name }}</h3>
        <table class="table-detail">
            <tr>
                <th>
                    Type:
                </th>
                <td>
                    {{ tool_details.type }}
                </td>
            </tr>
            <tr>
                <th>
                    Stock:
                </th>
                <td>
                    {{ tool_details.stock }}
                </td>
            </tr>
            <tr>
                <th>
                    Max run time:
                </th>
                <td>
                    {{ tool_details.max_run_time }} min
                </td>
            </tr>
            <tr>
                <th>
                    Desc.
                </th>
                <td>
                    {{ tool_details.short_description }}
                </td>
            </tr>
        </table>
        {% if tool_details.image.url|length > 0 %}
        <div><img src="{{ tool_details.image.url }}" alt="{{ tool_details.tool_name }}" width="50%"></div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}

{% block additional %}
<div id="card-additional">
    <div id="card-content-additional">
        <div><strong>Tool List</strong></div>
        {% for tool in tool_list %}
            <div><a href="/tool_details/{{ tool.id }}/">{{ tool.tool_small_list }}</a></div>
        {% endfor %}
    </div>
</div>
{% endblock %}