{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block  head %}
    <title>Add/Modify Tool</title>
    <meta name="description" content="Add / modify tool form.">
{% endblock %}
{% block side_menu %}

{% endblock %}
{% block content %}
<div id="card-form">
    <div id="card-content-form">
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}