{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel="stylesheet" href='{% static "css/main_view_card.css" %}'>
    <script src="{% static 'scripts/sorttable.js' %}"></script>

{% endblock %}
{% block side_menu %}

{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <table class="table_list sortable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        {% for machine in machine_list %}
        <tr>
            <td>
                <a href="/machine_details/{{ machine.id }}/">{{ machine.name }}</a>
            </td>
            <td>
                {{ machine.machine_location }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}