{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <title>Component List</title>
    <meta name="description" content="List of all available components.">
    <script src="{% static 'scripts/sorttable.js' %}" async></script>
{% endblock %}
{% block side_menu %}
 <div id="login-card">
    <div id="login-card-content">
        <form method="post" class="login-form">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search">
        <input type="submit" value="Search" id="search-submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
     <table class="table_list sortable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Door Type</th>
            <th>Comp. Type</th>
            <th>Description</th>
        </tr>
        </thead>
     <tbody>
        {% for component in component_list %}
            <tr>
                <td><a href="/component_details/{{ component.id }}/">{{ component.name }}</a></td>
                <td>{{ component.door_type }}</td>
                <td>{{ component.product_type }}</td>
                <td>{{ component.short_description }}</td>
            </tr>
        {% endfor %}
     </tbody>
     </table>
    </div>
</div>
{% endblock %}