{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search">
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
     <table class="table_list">
        <thead>
        <tr>
            <td>Name</td>
            <td>Door Type</td>
            <td>Comp. Type</td>
            <td>Description</td>
        </tr>
        </thead>
     <tbody>
        {% for component in component_list %}
            <tr>
                <td><a href="/component_details/{{ component.id }}/">{{ component.name }}</a></td>
                <td>{{ component.door_type }}</td>
                <td>{{ component.product_type }}</td>
                <td>{{ component.short_description }}</td>
            </tr>
        {% endfor %}
     </tbody>
     </table>

{% endblock %}