{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel='stylesheet' href="{% static "css/additional_list_card.css" %}">
    <link rel="stylesheet" href='{% static "css/main_view_card.css" %}'>
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
  <div id="card">
    <div id="card-content">
        <form method="post" class="form">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search">
        <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
  </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <div class="content_div">
    <h2>Name: {{ component_details.name }}</h2>
    <table class="table-detail">Description ▴

        <tr>
            <th>Door Type:</th>
            <td>{{ component_details.door_type }}</td>
        </tr>
        <tr>
            <th>Product Type:</th>
            <td>{{ component_details.product_type }}</td>
        </tr>
        <tr>
            <th>In Stock:</th>
            <td>{{ component_details.stock }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ component_details.component_description }}</td>
        </tr>
        <tr>
            <th>Tools Req.</th>
            <td>
                <ul>
                    {% for tool in component_details.tools_req.all %}
                        <ol><a href="/tool_details/{{ tool.pk }}/">{{ tool.tool_name }}</a></ol>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>


    <a href="/add_tool_component/{{ component_details.id }}/" type="button">Add Tool</a>
    <a href="/edit_component/{{ component_details.id }}/" type="button">Edit</a>
    <a href="/delete_component/{{ component_details.id }}/" type="button">Delete</a>
    <a href="{% url 'component_list' %}" type="button">Back</a>
    </div>
    </div>
</div>

{% endblock %}

{% block additional %}
<div id="card-additional">
    <div id="card-content-additional">
        <div><strong>Component List</strong></div>
        {% for component in component_list %}
            <div><a href="/component_details/{{ component.id }}/">{{ component.component_small_list }}</a></div>
        {% endfor %}
    </div>
</div>

{% endblock %}