{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <title>Style List</title>
    <meta name="description" content="List of all available styles.">
    <script src="{% static 'scripts/sorttable.js' %}" async></script>
{% endblock %}

{% block side_menu %}

{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <table class="table_list sortable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for style in style_list %}
        <tr>
            <td>
            <a href="/style_details/{{ style.id }}/">{{ style.style_name }}</a>
            </td>
            <td>
                {{ style.style_type }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}