{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel="stylesheet" href='{% static "css/main_view_card.css" %}'>
    <script src="{% static 'scripts/sorttable.js' %}"></script>
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
    <div id="card">
    <div id="card-content">
        <form method="post" class="form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search tools">
            <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
    </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
        <table class="table_list sortable">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_list %}
                <tr>
                    <td>
                        <a href="/customer_details/{{ customer.id }}/">{{ customer.customer_name }}</a>
                    </td>
                    <td>
                        {{ customer.customer_phone }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}