{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="search tools">
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
    <h2>Customer: {{ customer_detail.customer_name }}</h2>
    <p>e-mail: {{ customer_detail.customer_email }}</p>
    <p>phone: {{ customer_detail.customer_phone }}</p>

    <a href="/edit_customer/{{ customer_detail.id }}/">Edit</a>
    <a href="/delete_customer/{{ customer_detail.id }}/">Delete</a>
    <a href="{% url 'customer_list' %}">Back</a>

{% endblock %}