{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <title>Customer Detail</title>
    <meta name="description" content="Detailed information regarding selected customer.">
{% endblock %}

{% block side_menu %}
 <div id="search-card">
    <div id="search-card-content">
        <form method="post" class="search-form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search customer">
            <input type="submit" value="Search" id="search-submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <div class="content_div">
        <h3>Customer: {{ customer_detail.customer_name }}</h3>
        <table class="table-detail">
            <tr>
                <th>e-mail</th>
                <td>{{ customer_detail.customer_email }}</td>
            </tr>
            <tr>
                <th>phone</th>
                <td>{{ customer_detail.customer_phone }}</td>
            </tr>
        </table>
        <div class="buttons-container">
            <a href="/edit_customer/{{ customer_detail.id }}/" type="button">Edit</a>
            <a href="/delete_customer/{{ customer_detail.id }}/" type="button">Delete</a>
            <a href="{% url 'customer_list' %}" type="button">Back</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block additional %}
<div id="card-additional">
    <div id="card-content-additional">
        <div><strong>Customer List</strong></div>
        {% for customer in customer_list %}
            <div><a href="/customer_details/{{ customer.id }}/">{{ customer }}</a></div>
        {% endfor %}
    </div>
</div>
{% endblock %}