{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search tools"><br><br>
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
    <ul>
    {% for customer in customer_list %}
        <li>
            <a href="/customer_details/{{ customer.id }}/">{{ customer.customer_name }}</a>
        </li>
    {% endfor %}
    </ul>


{% endblock %}