{% extends "grid_base.html" %}
{% load static  %}
{% block head %}
<link rel='stylesheet' href="{% static "css/login_card.css" %}">
{% endblock %}
{% block title %}{% endblock %}
{% block content %}
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>LOGIN</h2>
                <div class="underline-title"></div>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" id="submit-btn" value="Login">
            </form>
        </div>
    </div>
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Login">#}
{#    </form>#}
{% endblock %}