{% extends "grid_base.html" %}
{% load products_tags %}
{% block title %}{% endblock %}
{% block side_menu %}
{% endblock %}
{% block content %}
    <div>
        <p>
            {% if user|has_group:"Shop floor staff" %}
            <ul>
            {% for element in output %}
                <ol>{{ element.product_id.full_job_no }}
                    <ol>Start: {{ element.prod_start }}</ol>
                    <ol>Finish: {{ element.prod_end }}</ol>
                </ol><br>
            {% endfor %}
            </ul>
            {% endif %}
        </p>
    </div>
{% endblock %}