label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#card-additional {
  background: #E8E8E8FF;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  /*width: 30rem;*/
  min-width: 25rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#card-content-additional {
  padding: 12px 44px;
}

