.container {
  display: grid;
  grid-template-columns: 0.4fr 1.8fr 0.8fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Menu Content Additional"
    "Footer Footer Footer";
}

.Footer {
  grid-area: Footer;
}

.Additional {
  grid-area: Additional;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.Additional-inner {
  width: 80%;
  /*margin: auto;*/
  padding: 100px 0 0 0;
}

.Logo {
  grid-area: Logo;
  background: #664357;
}

.Content {
  justify-self: stretch;
  grid-area: Content;
  border-left: 1px black solid;
  border-right: 1px black solid;
  display: flex;
  justify-content: center;
  align-content: center;
}

.inner-content {
  display: block;
  width: 50%;
  padding: 100px 0 0 0;
  /*margin: auto;*/
}

.Menu {
  grid-area: Menu;
  display: flex;

}
.menu-inner {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 10px;
  /*justify-content: center;*/
  /*justify-self: center;*/
}

.Header {
  grid-area: Header;
  background: #664357;
  padding: 20px 0 0 20px;
}


html, body , .container {
  height: 100%;
  margin: 0;
  background: #a8a8a8;
}



.container * {
  position: relative;
  color: black;
  text-decoration: none;
}

.container *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

