label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#card-main {
  background: #E8E8E8FF;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  min-width: 50%;
  max-width: 80%;
  align-self: flex-start;

}
#card-content-main {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
}

.btn-container{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.btn {
  min-width: 40%;
}
.btn:hover{
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

.table-detail {
  margin: 20px 0 20px 0;
}

.table-detail td{
  padding: 5px 0 5px 10px;
}

.table-detail th {
  border-right: solid black 1px;
}
.table-detail th{
  padding: 5px 10px 5px 0;
}
.table-detail tbody tr:nth-child(2n) td {
  background: #d2d2d2;
}
.table-detail tbody tr:nth-child(2n+1) td {
  background: rgba(203, 203, 203, 0.25);
}