{% extends "grid_base.html" %}id="submit-btn"
{% load static %}
{% block  head %}
    <title>Employee List</title>
    <meta name="description" content="List of all available employees.">
    <script src="{% static 'scripts/sorttable.js' %}" async></script>
{% endblock %}

{% block side_menu %}
 <div id="login-card">
    <div id="login-card-content">
        <form method="post" class="login-form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search employees">
            <input type="submit" value="Search" id="search-submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
     <table class="table_list sortable">
        <thead>
        <tr>
            <th>Name</th>
            <th>ID.</th>
            <th>Position</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>
            {% for employee in employee_list %}
                <tr>
                    <td><a href="/employee_details/{{ employee.id }}/">{{ employee.display_employee_name }}</a></td>
                    <td>{{ employee.id_num }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.show_all_departments }}</td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
    </div>
</div>
{% endblock %}