{% extends "grid_base.html" %}    <a href="/employee_list/">Employee List</a><br>
    <a href="/add_employee/">Add Employee</a><br>
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="search">
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
    <ul>
    {% for employee in employee_list %}
        <li>
            <a href="/employee_details/{{ employee.id }}/">{{ employee.display_employee_name }}</a>
            ID: {{ employee.id_num }} Position: {{ employee.position }}
        </li>
    {% endfor %}
    </ul>

{% endblock %}