{% extends "grid_base.html" %}
{% load static %}

{% block  head %}
    <title>Add / Modify Employee</title>
    <meta name="description" content="Form allowing to add and modify employee info.">
{% endblock %}
{% block side_menu %}

{% endblock %}
{% block content %}
<div id="card-form">
    <div id="card-content-form">
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}