{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel='stylesheet' href="{% static "css/additional_list_card.css" %}">
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
 <div id="card">
    <div id="card-content">
        <form method="post" class="form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search">
            <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
    <div class="content_div">
    <h2>Job no: {{ door_detail }}</h2>
    <p>Last Location: {{ door_detail.user_product.last.user_id.section_id.last }}</p>
    <p>Door type: {{ door_detail.door_type }}</p>
    <p>Style: {{ door_detail.style }}</p>
    <p>Color: {{ door_detail.color }}</p>
    <p>Handing: {{ door_detail.handing }}</p>
    <p>Glass: {{ door_detail.glass }}</p>
    <p>Size: {{ door_detail.door_height }}mm x {{ door_detail.door_width }}mm</p>
    <p>Components:
    <ul>
        {% for comp in door_detail.components.all %}
         <ol>{{ comp.product_type }} - {{ comp }}</ol>
        {% endfor %}
    </ul> <a href="/add_comp_product/{{ door_detail.id }}/" type="button">Add Components</a>
    </p>
    <p>Production date: {{ door_detail.production_date }}</p>
    <p>Delivery date: {{ door_detail.delivery_date }}</p>
    <p>Delivery address: {{ door_detail.delivery_address }}</p>
    <p>Estimated machining time: {{ door_detail.machining_time }}</p>
    <p>Finished: {{ door_detail.finished }}</p>

    <a href="/edit_door/{{ door_detail.id }}/" type="button">Edit</a>
    <a href="/delete_door/{{ door_detail.id }}/" type="button">Delete</a>
    <a href="{% url 'door_list' %}" type="button">Back</a>
    </div>

{% endblock %}

{% block additional %}
    <div id="card-additional">
        <div id="card-content-additional">
            <div><strong>Doors in order</strong></div><br>
            {% for door in door_list %}
                <div><a href="/door_details/{{ door.id }}/">{{ door }}</a></div>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}