{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel="stylesheet" href="{% static 'css/main_view_card.css' %}">
    <link rel="stylesheet" href='{% static "css/main_view_card.css" %}'>
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
 <div id="card">
    <div id="card-content">
        <form method="post" class="form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search">
            <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
         <table class="table_list">
            <thead>
            <tr>
                <th>Job No.</th>
                <th>Delivery Date</th>
                <th>Production Date</th>
            </tr>
            </thead>
            <tbody>
            {% for door in door_list %}
                <tr>
                    <td><a href="/door_details/{{ door.id }}/">{{ door }}</a></td>
                    <td>{{ door.production_date }}</td>
                    <td>{{ door.delivery_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
         </table>
    </div>
</div>
{% endblock %}