{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel='stylesheet' href="{% static "css/additional_list_card.css" %}">
    <link rel='stylesheet' href="{% static "css/main_view_card.css" %}">
    <script src="{% static 'scripts/sorttable.js' %}"></script>


{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
 <div id="card">
    <div id="card-content">
        <form method="post" class="form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search">
            <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <div class="content_div">
    <h3>Job no: {{ door_detail }}</h3>
    <table class="table-detail">
        <tr>
            <th>Last Location:</th>
            <td>{{ door_detail.user_product.last.user_id.section_id.last }}</td>
        </tr>
        <tr>
            <th>Door Type:</th>
            <td>{{ door_detail.door_type }}</td>
        </tr>
        <tr>
            <th>Style:</th>
            <td>{{ door_detail.style }}</td>
        </tr>
        <tr>
            <th>Color:</th>
            <td>{{ door_detail.color }}</td>
        </tr>
        <tr>
            <th>Handing:</th>
            <td>{{ door_detail.handing }}</td>
        </tr>
        <tr>
            <th>Glass:</th>
            <td><a href="/glass_detail/{{ door_detail.glass.pk }}/">{{ door_detail.glass }}</a></td>
        </tr>
        <tr>
            <th>Size:</th>
            <td>{{ door_detail.door_height }}mm x {{ door_detail.door_width }}mm</td>
        </tr>
        <tr>
            <th>Production Date:</th>
            <td>{{ door_detail.production_date }}</td>
        </tr>
        <tr>
            <th>Delivery Date:</th>
            <td>{{ door_detail.delivery_date }}</td>
        </tr>
        <tr>
            <th>Delivery Address:</th>
            <td>{{ door_detail.delivery_address }}</td>
        </tr>
        <tr>
            <th>Estimated Machine Time:</th>
            <td>{{ door_detail.machining_time }} min</td>

        </tr>
        <tr>
            <th>Finished:</th>
            <td>{{ door_detail.finished }}</td>
        </tr>
    </table>

    <div class="comp-list">Components:
    <table class="table_list sortable">
        <thead>
        <th>
            Type
        </th>
        <th>
            Name
        </th>
        </thead>
        <tbody>
        {% for comp in door_detail.components.all %}
        <tr>
        <td>
            {{ comp.product_type }}
        </td>
        <td>
            <a href="/component_details/{{ comp.pk }}/">{{ comp }}</a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="buttons-container">
        <a href="/add_comp_product/{{ door_detail.id }}/" class="comp-button" type="button" >Add Components</a>
        <a href="/edit_door/{{ door_detail.id }}/" type="button">Edit</a>
        <a href="/delete_door/{{ door_detail.id }}/" type="button">Delete</a>
        <a href="{% url 'door_list' %}" type="button">Back</a>
    </div>
    </div>
    </div>
</div>

{% endblock %}

{% block additional %}
    <div id="card-additional">
        <div id="card-content-additional">
            <div><strong>Doors in order</strong></div><br>
            {% for door in door_list %}
                <div><a href="/door_details/{{ door.id }}/">{{ door }}</a></div>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}