{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search"><br><br>
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
    <ul>
    {% for door in door_list %}
        <li>
            <a href="/door_details/{{ door.id }}/">{{ door }}</a> | {{ door.production_date }}
        | {{ door.delivery_date }}
        </li>
    {% endfor %}
    </ul>

{% endblock %}