{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <title>Glass Details</title>
    <meta name="description" content="Detailed information regarding selected glass piece.">
{% endblock %}

{% block side_menu %}
 <div id="search-card">
    <div id="search-card-content">
        <form method="post" class="search-form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search glass">
            <input type="submit" value="Search" id="search-submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <div class="content_div">
    <h3>Name: {{ glass_detail.glass_name }}</h3>
    <table class="table-detail">
        <tr>
            <th>Door Type:</th>
            <td>{{ glass_detail.glass_door_type }}</td>
        </tr>
        <tr>
            <th>In Stock:</th>
            <td>{{ glass_detail.stock }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ glass_detail.description }}</td>
        </tr>
        <tr>
            <th>Tools Req.</th>
            <td>
            <ul>
            {% for tool in glass_detail.tools_req.all %}
                <ol><a href="/tool_details/{{ tool.pk }}/">{{ tool.tool_name }}</a></ol>
            {% endfor %}
            </ul>
        </tr>
    </table>
    <p>{{ glass_detail.component_description }}</p>
    <div class="buttons-container">
         <a href="/add_tool_glass/{{ glass_detail.id }}/" type="button">Add Tool</a></td>
        <a href="/edit_glass/{{ glass_detail.id }}/" type="button">Edit</a>
        <a href="/delete_glass/{{ glass_detail.id }}/" type="button">Delete</a>
        <a href="{% url 'glass_list' %}" type="button">Back</a>
    </div>
    </div>
    </div>
</div>

{% endblock %}
{% block additional %}
<div id="card-additional">
    <div id="card-content-additional">
        <div><strong>Glass List</strong></div>
        {% for glass in glass_list %}
            <div><a href="/glass_detail/{{ glass.id }}/">{{glass.glass_small_list }}</a></div>
        {% endfor %}
    </div>
</div>
{% endblock %}