{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <title>Glass List</title>
    <meta name="description" content="List of all available glass pieces.">
    <script src="{% static 'scripts/sorttable.js' %}" async></script>
{% endblock %}

{% block side_menu %}
 <div id="login-card">
    <div id="login-card-content">
        <form method="post" class="login-form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search glass">
            <input type="submit" value="Search" id="search-submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <table class="table_list sortable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Stock</th>
        </tr>
        </thead>
        <tbody>
        {% for glass in glass_list %}
        <tr>
            <td>
                <a href="/glass_detail/{{ glass.id }}/">{{ glass.glass_name }}</a>
            </td>
            <td>
                {{ glass.glass_door_type }}
            </td>
            <td>
                {{ glass.stock }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}