{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search"><br><br>
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
    <ul>
    {% for glass in glass_list %}
        <li>
            <a href="/glass_detail/{{ glass.id }}/">{{ glass.glass_name }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}