{% extends "grid_base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block side_menu %}
    <form method="post">
        {% csrf_token %}
        <input id='searchbar' type="text" name="search" placeholder="search"><br><br>
        <input type="submit" value="Search">
    </form>
{% endblock %}
{% block content %}
    <h2>Name: {{ glass_detail.glass_name }}</h2>
    <p>Door type: {{ glass_detail.glass_door_type }}</p>
    <p>In stock: {{ glass_detail.stock }}</p>
    <p>Tools req.
        <ul>
            {% for tool in glass_detail.tools_req.all %}
            <li>{{ tool.tool_name }}</li>
            {% endfor %}
        </ul>
        <a href="/add_tool_glass/{{ glass_detail.id }}/" type="button">Add Tool</a>
    </p>
    <p>{{ glass_detail.component_description }}</p>
    <a href="/edit_glass/{{ glass_detail.id }}/" type="button">Edit</a>
    <a href="/delete_glass/{{ glass_detail.id }}/" type="button">Delete</a>
    <a href="{% url 'glass_list' %}" type="button">Back</a>

{% endblock %}
{% block additional %}
    <h1>Glass List</h1>
    <ul>
    {% for glass in glass_list %}
        <ol><a href="/glass_detail/{{ glass.id }}/">{{glass.glass_small_list }}</a></ol>
    {% endfor %}
    </ul>
{% endblock %}