{% extends "grid_base.html" %}
{% load static %}
{% block  head %}
    <link rel='stylesheet' href="{% static "css/search_card.css" %}">
    <link rel="stylesheet" href='{% static "css/main_view_card.css" %}'>
    <script src="{% static 'scripts/sorttable.js' %}"></script>
{% endblock %}
{% block title %}{% endblock %}
{% block side_menu %}
 <div id="card">
    <div id="card-content">
        <form method="post" class="form">
            {% csrf_token %}
            <input id='searchbar' type="text" name="search" placeholder="search">
            <input type="submit" value="Search" id="submit-btn">
        </form>
    </div>
 </div>
{% endblock %}
{% block content %}
<div id="card-main">
    <div id="card-content-main">
    <table class="table_list sortable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Stock</th>
        </tr>
        </thead>
        <tbody>
        {% for glass in glass_list %}
        <tr>
            <td>
                <a href="/glass_detail/{{ glass.id }}/">{{ glass.glass_name }}</a>
            </td>
            <td>
                {{ glass.glass_door_type }}
            </td>
            <td>
                {{ glass.stock }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}