label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
#login-card {
  background: #E8E8E8FF;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  /*height: 410px;*/
  margin: 6rem auto 8.1rem auto;
  width: 329px;
  align-self: center;
}
#login-card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#submit-btn {
  background: #2a5962;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #2a5962;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 25px auto 25px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 1px 18px #2a5962;
}
.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login-form-border {
  background: #2a5962;
  height: 1px;
  width: 100%;
}
.login-form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: #2a5962;
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
